.main-sec {
  display: flex;
}

/*  */
.menu-sec {
  background: var(--light-bg);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 2rem 5%;
}
.main-drop {
  position: relative;
  padding: 1rem;
}
.dropdown-box {
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
.main-drop .dropdown {
  background: var(--primary-text);
  color: var(--light-text);
}
.main-drop .dropdown > *:hover {
  background: var(--secondary-color);
}

/* dropdown */
.dropdown-container {
  position: relative;
  padding: 1rem;
}
.dropdown-btn {
  border: 1px solid var(--primary-text);
  border-radius: 3rem;
  padding: 1rem 2rem;
}
.dropdown-btn:hover {
  border-color: transparent;
  background: var(--gray-bg);
}
.dropdown {
  background: var(--light-bg);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: max-content;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  display: none;
}
.main-drop:hover .dropdown,
.dropdown-container:hover .dropdown {
  display: flex;
}
.dropdown > * {
  padding: 1rem 2rem;
  width: 100%;
  text-transform: uppercase;
}
.dropdown > *:hover {
  background: var(--gray-bg);
  cursor: pointer;
}

/* products section */
.products-sec {
  margin-top: 2rem;
  width: 100%;
  background: var(--light-bg);
}
.products-grid {
  padding: 2rem 5%;
}
