.address-management {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.address-card {
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: var(--light-text);
}
.card-delete-btn {
  color: var(--primary-text);
  align-self: center;
}
.address-list {
  flex-direction: column;
  display: flex;
  gap: 2rem;
}
