/* header  */
.arstyShop-header {
  padding: 2rem 4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: var(--secondary-color);
}
.arstyShop-header > * {
  color: var(--header-text);
}
.arstyShop-header > .flex-align-center {
  width: 100%;
  justify-content: space-between;
}
.mobile-search {
  display: none;
  justify-self: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .arstyShop-header {
    flex-wrap: wrap;
  }
  .web-search {
    display: none;
  }
  .mobile-search {
    display: flex;
  }
}

.left-side {
  cursor: pointer;
}
.right-side {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.2em;
}
.right-side > i:hover {
  cursor: pointer;
  color: var(--primary-color);
}
.items {
  color: var(--primary-color);
  font-size: smaller;
  margin-left: 1rem;
}
.user {
  cursor: pointer;
  position: relative;
}
.user:hover .user-dropdown {
  display: flex;
}
.user-dropdown {
  position: absolute;
  top: 5rem;
  background: var(--light-bg);
  color: var(--secondary-color);
  box-shadow: 0 0 10px -2px var(--secondary-text);
  width: 20rem;
  padding: 1rem 0;
  border-radius: 0.4rem;
  display: none;
  z-index: var(--user-dropdown-index);
}
.user-dropdown > * {
  align-self: stretch;
  padding: 1rem 1rem;
  justify-content: space-between;
}
.user-dropdown > *:hover {
  background: var(--secondary-color);
  color: var(--light-bg);
}
