.product_page-aside {
  padding: 3rem 3%;
  flex-basis: 30rem;
  border-right: 1px solid;
}
.product_page-aside .heading{
  border-bottom:1px solid;
}
.product_page-aside .link-text-primary {
  margin-left: auto;
}
.aside-sec {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.aside-sec label {
  display: flex;
  align-items: center;
}
.sort-sec {
  margin-top: 0.75rem;
}
