.cart-page {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 2rem 0;
  width: 100%;
  padding: 0 2rem;
  gap: 2rem;
}
.cart-sec {
  flex-grow: 1;
  padding: 2rem 5%;
  background: var(--light-bg);
}
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}
.empty-cart-gif {
  width: 50%;
}
.cart-price-sec {
  padding: 2rem;
  background: var(--light-bg);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 25rem;
}
.cart-price-sec > *:nth-child(1) {
  text-transform: uppercase;
}
.cart-price-sec hr {
  border: 0;
  border-top: 1px solid var(--primary-color);
}
.calc-part,
.total-part {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: stretch;
}
.calc-part > *,
.total-part > * {
  line-height: 3rem;
}
