@import url("https://artsyui.netlify.app/src/artsyUI.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&family=Nunito:wght@300;400;500;600&display=swap");

:root {
  --user-dropdown-index: 2;
  --light-black: rgba(0, 0, 0, 0.36);
  --light-white: rgba(255, 255, 255, 0.36);
  --header-text:rgba(250,250,250);
}
.body {
  color: var(--primary-text);
}
.body.dark-theme {
  --light-text: rgb(20, 20, 20);
  --light-bg: rgb(31, 31, 31);
  --primary-text: rgb(255, 255, 255);
  --light-black: rgba(255, 255, 255, 0.36);
  --light-white:  rgba(0, 0, 0, 0.36);
}

@media screen and (max-width: 300px) {
  html {
    font-size: 30%;
  }
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* scroll bar styling */
.main::-webkit-scrollbar {
  width: 1rem;
  padding: 1rem;
}
.main::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 1rem;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gray {
  background: var(--gray-bg);
}
h1,
h2,
h3,
p {
  color: inherit;
}
img {
  width: 100%;
}
.grid-overlay {
  display: grid;
}
.grid-overlay > * {
  grid-row: 1/2;
  grid-column: 1/2;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
input{
  background: transparent;
}
.checkbox-text {
  margin: 0 1rem;
}
.btn span {
  margin: auto;
}
.btn.diabled-btn {
  cursor: default;
  background-color: var(--gray-bg);
  color: var(--primary-text-color);
}
.capitalize {
  text-transform: capitalize;
}

/* page layout */
.body {
  height: 100vh;
  width: 100vw;
  background: var(--light-text);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "main main  ";
}
.main {
  grid-area: main;
  overflow: auto;
}
.header {
  grid-area: header;
}
.page-header-section {
  display: grid;
}
.page-header-section i {
  color: var(--primary-color);
}
.section-bg {
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}
.section-bg img {
  height: 100%;
}
.card {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.card .content > * {
  font-family: "Nunito", sans-serif;
}
.basic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-o-media .card-img {
  height: 100%;
}
.text-o-media .content {
  height: 100%;
}
.text-o-media .card-header {
  background: var(--light-black);
  backdrop-filter: blur(0.5);
}
.hori {
  width: fit-content;
}
.hori .btn {
  font-size: 1em;
  max-width: fit-content;
}
.hori .card-header > h1 {
  font-size: 2em;
}
.hori .card-img {
  max-height: revert;
}
.favourite-icon {
  padding: 0.8rem;
  color: var(--primary-color);
}

.section-content {
  grid-column: 1/2;
  grid-row: 1/2;
  min-height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-text);
}
